@import "../../assets/styles/helpers/variables.scss";

.site-header {
    background-color: $dark-grey-color;
    color: $white-color;
    padding: 20px 0;
    text-align: center;

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__menu {
        & a {
            color: $white-color;
            margin-left: 20px;
        }
    }
}
